.row-fluid
  .span4.well
      h3 #{player.username}
      p Health: #{player.health}
      p Food: #{player.food}

  .span6.well
    .row-fluid
      #chatbox.span12
    br
    .row-fluid
      input#chatInput.span10(type="text", name="chat", placeholder="Enter a message")
      input.btn.span2.pull-right#chatSend(type="button", value="Send")